<div class="flex items-center gap-2 mb-6">
  <%= link_to edit_product_path(params[:product_id]), class: "flex items-center gap-1 text-sm text-gray-600 hover:text-gray-800" do %>
    <%= icon "chevron-left", class: "size-4" %>
    <%= t('variations.back_to_product') %>
  <% end %>
  <h1 class="text-2xl font-semibold"><%= t('variations.edit_variation') %></h1>
</div>

<%= form_with url: product_variation_path(params[:product_id], @variation["id"]), method: :put, local: true do |form| %>
  <div>
    <%= form.label :regular_price %>
    <%= form.number_field :regular_price, value: @variation["regular_price"] %>
  </div>

  <div>
    <%= form.label :stock_quantity %>
    <%= form.number_field :stock_quantity, value: @variation["stock_quantity"] %>
  </div>

  <%= form.submit t('variations.update_variation') %>
<% end %>

