<h1>Edit Variation</h1>

<%= form_with url: product_variation_path(params[:product_id], @variation["id"]), method: :put, local: true do |form| %>
  <div>
    <%= form.label :regular_price %>
    <%= form.number_field :regular_price, value: @variation["regular_price"] %>
  </div>

  <div>
    <%= form.label :stock_quantity %>
    <%= form.number_field :stock_quantity, value: @variation["stock_quantity"] %>
  </div>

          <%= form.submit t('variations.update_variation') %>
<% end %>

      <%= link_to t('variations.back_to_product'), edit_product_path(params[:product_id]) %>

