<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <%= link_to extract_store_name, root_path, class: "text-xl" %>
  </div>
  <div class="flex-none">
    <% if user_signed_in? %>
      <ul class="menu menu-horizontal px-1">
        <li><%= link_to t('navigation.products'), products_path, class: "#{ current_class?(products_path) }" %></li>
        <li><%= link_to t('navigation.categories'), categories_path, class: "#{ current_class?(categories_path) }" %></li>
        
        <!-- Language Switcher -->
        <li>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button" class="flex items-center gap-1">
              <%= I18n.locale.upcase %>
            </div>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-32 p-2 shadow-sm">
              <li class="hover:cursor-pointer">
                <%= form_with url: switch_locale_path, method: :post, local: true, class: "w-full" do |f| %>
                  <%= f.hidden_field :locale, value: :hu %>
                  <%= f.submit t('languages.hungarian'), class: "hover:cursor-pointer" %>
                <% end %>
              </li>
              <li class="hover:cursor-pointer">
                <%= form_with url: switch_locale_path, method: :post, local: true, class: "w-full" do |f| %>
                  <%= f.hidden_field :locale, value: :en %>
                  <%= f.submit t('languages.english'), class: "hover:cursor-pointer" %>
                <% end %>
              </li>
            </ul>
          </div>
        </li>
        
        <li>
          <div class="dropdown dropdown-end">
            <div tabindex="0" role="button"><%= t('navigation.profile') %></div>
            <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-52 p-2 shadow-sm">
              <li><%= link_to t('navigation.settings'), settings_path %></li>
              <li><%= button_to t('navigation.sign_out'), destroy_user_session_path, method: :delete, class: "hover:cursor-pointer" %></li>
            </ul>
          </div>
        </li>
      </ul>
    <% end %>
  </div>
</div>
