<%= form_with model: @store, url: onboardings_path, local: true do |f| %>
  <div class="space-y-8 w-full mx-auto">
    <fieldset class="fieldset bg-base-100 border-base-300 rounded-box w-lg border p-4 mx-auto">
      <legend class="fieldset-legend">Store details</legend>

      <%= f.label :api_url, "Store API URL", class: "label" %>
      <%= f.text_field :api_url, placeholder: "http://www.example.com", class: "input w-full" %>
      <% if @store.errors[:api_url] %>
        <p class="text-red-500"><%= @store.errors[:api_url].first %></p>
      <% end %>

      <%= f.label :consumer_key, "Consumer Key", class: "label" %>
      <%= f.text_field :consumer_key, class: "input w-full" %>
      <% if @store.errors[:consumer_key] %>
        <p class="text-red-500"><%= @store.errors[:consumer_key].first %></p>
      <% end %>

      <%= f.label :consumer_secret, "Consumer Secret", class: "label" %>
      <%= f.text_field :consumer_secret, class: "input w-full" %>
      <% if @store.errors[:consumer_secret] %>
        <p class="text-red-500"><%= @store.errors[:consumer_secret].first %></p>
      <% end %>

      <%= f.submit "Connect Store", class: "btn btn-neutral w-full mt-3" %>
    </fieldset>
  </div>
<% end %>
