<div class="flex items-center gap-2 mb-6">
  <div class="btn btn-xs btn-ghost">
    <span><%= icon "chevron-left", class: "size-4" %></span>
    <%= link_to t('navigation.back'), categories_path %>
  </div>
  <h1 class="text-2xl font-semibold">Edit Category</h1>
</div>

<%= form_with model: @category, method: :put, local: true do |form| %>
  <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
    <legend class="fieldset-legend">Edit Category</legend>

    <div class="space-y-6">
      <div class="grid gap-6 md:grid-cols-3">
        <div class="form-control">
          <%= form.label :name, t('categories.category_name'), class: "label" %>
          <%= form.text_field :name, class: "input input-bordered w-full" %>
        </div>

        <div class="form-control">
          <%= form.label :slug, t('categories.slug'), class: "label" %>
          <%= form.text_field :slug, class: "input input-bordered w-full" %>
        </div>

        <div class="form-control">
          <%= form.label :parent, t('categories.parent_category'), class: "label" %>
          <%= form.select :parent,
                          options_for_select([[t('categories.none'), 0]] + @categories.map { |c| [c.name, c.id] }, selected: @category.parent),
                          {}, class: "select select-bordered w-full" %>
        </div>
      </div>

      <div class="form-control">
        <%= form.label :description, t('categories.category_description'), class: "label" %>
        <%= form.text_area :description, rows: 4, class: "textarea textarea-bordered w-full" %>
      </div>

      <div class="flex justify-center mt-6">
        <%= form.submit t('forms.update_category'), class: "btn btn-primary" %>
      </div>
    </div>
  </fieldset>
<% end %>