<div class="flex flex-col">
  <div class="-m-1.5 overflow-x-auto">
    <div class="p-1.5 min-w-full inline-block align-middle">
      <div class="border border-gray-200 rounded-lg overflow-hidden">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="text-start uppercase font-medium">
            <tr>
              <th class="px-4 py-2 text-start font-medium text-xs text-gray-500">Select</th>
              <th class="px-4 py-2 text-start font-medium text-xs text-gray-500">Image</th>
              <th class="px-4 py-2 text-start font-medium text-xs text-gray-500">Name</th>
              <th class="px-4 py-2 text-start font-medium text-xs text-gray-500">Description</th>
              <th class="px-4 py-2 text-start font-medium text-xs text-gray-500">Price</th>
              <th class="px-4 py-2 text-start font-medium text-xs text-gray-500">Type</th>
              <th class="px-4 py-2 text-start font-medium text-xs text-gray-500">Actions</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 text-sm">
            <% @products.each do |product| %>
              <tr class="hover:bg-gray-100">
                <td class="px-4 py-2">
                  <%= check_box_tag "product_ids[]", product["id"], { class: "w-4 h-4 text-purple-600 border-gray-100 rounded-md hover:cursor-pointer" } %>
                </td>
                <td class="px-4 py-2 w-[100] h-[100]">
                  <% if product["images"].present? %>
                    <%= image_tag product["images"].first["src"], size: "100x100", class: "w-full h-full object-cover" %>
                  <% end %>
                </td>
                <td class="px-4 py-2 font-medium"><%= product["name"] %></td>
                <td class="px-4 py-2"><%= strip_tags(product["description"]).truncate(80) %></td>
                <td class="px-4 py-2"><%= number_to_currency(product["regular_price"].to_f, unit: "Ft ") %></td>
                <td class="px-4 py-2"><%= product["type"] %></td>
                <td class="px-4 py-2">
                  <%= link_to "Edit", edit_product_path(product["id"]), class: "text-blue-500 underline" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
