<%= link_to "< Back ", products_path %>
<h1 class="text-2xl font-medium mb-3 text-neutral-600">Edit product</h1>

<%= render "form" %>

<% if @product.type == "variable" %>
  <h2>Variations</h2>
  <ul>
    <% @variations.each do |variation| %>
      <li>
        <% if variation["attributes"].is_a?(Array) %>
          <strong>
            <%= variation["attributes"].map { |a| a["option"] }.join(" / ") %>
          </strong><br>
        <% else %>
          <strong>No attributes</strong><br>
        <% end %>

        Price: <%= variation["regular_price"] %><br>
        Stock: <%= variation["stock_quantity"] %><br>
        <%= link_to "Edit", edit_product_variation_path(@product.id, variation["id"]) %>
      </li>
    <% end %>
  </ul>
<% end %>
