<div class="flex items-center space-x-2 mb-6">
  <div class="btn btn-xs">
    <span><%= icon "chevron-left", class: "size-4" %></span>
    <%= link_to t('navigation.back'), products_path %>
  </div>
  <h1 class="text-2xl font-medium text-gray-700">Edit product</h1>
</div>

<%= render "form" %>

<% if @product.type == "variable" %>
  <h2>Variations</h2>
  <ul>
    <% @variations.each do |variation| %>
      <li>
        <% if variation["attributes"].is_a?(Array) %>
          <strong>
            <%= variation["attributes"].map { |a| a["option"] }.join(" / ") %>
          </strong><br>
        <% else %>
          <strong>No attributes</strong><br>
        <% end %>

        Price: <%= variation["regular_price"] %><br>
        Stock: <%= variation["stock_quantity"] %><br>
        <%= link_to "Edit", edit_product_variation_path(@product.id, variation["id"]) %>
      </li>
    <% end %>
  </ul>
<% end %>
