<% if @products.any? %>
  <h1>Product List</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Description</th>
        <th>Regular Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
            <% if product["images"].present? && product["images"].any? %>
              <img src="<%= product["images"].first["src"] %>" alt="<%= product["name"] %>" width="80">
            <% end %>
          </td>
          <td><%= product["name"] %></td>
          <td><%= strip_tags(product["description"]).truncate(80) %></td>
          <td><%= number_to_currency(product["regular_price"].to_f) %></td>
          <td>
            <%= link_to "Edit", edit_product_path(product["id"]), class: "btn btn-sm btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No products found or unable to fetch products from WooCommerce.</p>
<% end %>

